<div id="search-container">
  <div
    id="left-input-container"
    class="search-container"
  >
    <v-combobox
      id="input-primary"
      v-model="primaryModel"
      :search-input.sync="primarySearch"
      :items="primarySuggestions"
      item-text="getKey()"
      item-value="getKey()"
      item-avatar="search"
      label="I'm looking for ..."
      prepend-icon="search"
      hide-no-data
      v-on:keyup.enter="performSearch(nextQuery)"
      light
    >
      <template
        slot="item"
        slot-scope="data"
      >
        <template v-if="data.item !== null">
          <v-list-tile avatar>
            <v-list-tile-action>
              <v-icon color="#343a40">{{ data.item.getIcon() }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content v-text="data.item.toString()">
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </template>
    </v-combobox>
  </div>
  <div
    id="right-input-container"
    class="search-location-container"
  >
    <v-combobox
      id="input-secondary"
      v-model="locationModel"
      :items="locationSuggestions"
      label="Location"
      prepend-icon="room"
      :search-input.sync="locationSearch"
      hide-no-data
      v-on:keyup.enter="performSearch(nextQuery)"
      light
    >
    </v-combobox>
  </div>
  <v-btn
    id="btn-search"
    v-on:click="performSearch(nextQuery)"
    color="primary"
  >
    Search
  </v-btn>
</div>
