input {
  outline-width: 0;
}

.icon {
  padding-right: 10px;
}

.search-container {
  background: #fff;
  color: #000;
  height: 62px;
  min-width: 30%;
  padding-left: 5px;
  padding-right: 5px;
}

.search-location-container {
  background: #fff;
  height: 62px;
  min-width: 15%;
  padding-left: 5px;
  padding-right: 5px;
}

#left-input-container {
  border-right: 0;
}

#input-primary {
  min-height: 30px;
  width: 25vw;
}

#input-secondary {
  min-height: 30px;
  width: 10vw;
}

#btn-search {
  margin: 0;
  min-height: 62px;
  padding: 0;
}

#search-container {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
