<div>
  <router-link
    name="HomePage"
    to="/"
  >Home</router-link>
  <div v-if="contractorData">
    <div
      id="profile"
      class="profile"
    >
      <div class="profile-left">
        <router-link
          to="/results/21"
          class="router-link"
        >
          <v-btn
            id="back"
            round
            outline
            color="primary"
          >
            Back To Search Result
          </v-btn>
        </router-link>
      </div>
      <div class="profile-card">
        <ContractorProfileCard :dataModel="contractorData" />
      </div>
      <div class="profile-gray">
        <div class="profile-about">
          <h3
            v-for="(location, i) in contractorData.location"
            class="small"
          >
            {{ location.site }} {{ location.state}} {{ location.suburb }} {{ location.precinct
            }} {{ location.property }}</h3>
          <h3 class="small">{{ contractorData.email }}</h3>
          <h3
            v-for="(category, i) in contractorData.service_category"
            class="small"
          >
            {{ category.category }}
          </h3>
          <h3 class="small">{{ contractorData.phone_number }}</h3>
        </div>
      </div>
      <div class="profile-header">
        <h1>About</h1>
      </div>
      <p>{{ contractorData.description }}</p>
    </div>
  </div>
</div>
