.profile {
  height: 800px;
}

.profile-about {
  margin-left: 15%;
  text-align: left;
  width: 70%;
}

.profile-left {
  margin-right: 75%;
}

.profile-gray {
  background-color: #6c757d;
  color: #fff;
  height: auto;
  padding-bottom: 3%;
  padding-top: 6%;
}

.profile-header {
  color: #52c0ac;
}

.profile-card {
  height: 250px;
  margin-top: 20px;
  min-height: 250px;
}

.router-link {
  text-decoration: none;
}
