<v-footer
  class="nav-footer theme--dark"
  height="auto"
>
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"

    crossorigin="anonymous"
  >
  <v-card
    flat
    tile
    class="flex"
  >
    <v-layout>
      <v-flex
        xs3
        layout
        column
      >
        <div class="nav-footer-grid-brand">
          <a
            class="nav-footer-grid-logo"
            href="/"
          >
          <span class="sr-only">ipro</span>
          </a>
        </div>
      </v-flex>
      <v-flex
        xs3
        layout
        column
      >
        <div class="nav-footer-grid-item">
          <h3 class="nav-footer-title">SITE LINKS</h3>
          <ul
            id="menu-footer-menu"
            class="nav flex-column"
            data-sm-skip="true"
          >
            <li class="nav-footer-menu-items">
              <a
                title="Back to Top"
                href="#"
                class="col"
              >Back to Top</a>
            </li>
            <li class="nav-footer-menu-items">
              <Link
                id="link-footer-registration"
                class="col"
                to="/Contact"
              > Register for Free
              </Link>
            </li>
            <li class="nav-footer-menu-items">
              <Link
                id="link-footer-privacy-policy"
                class="col"
                to="/Privacy Policy"
              > Privacy Policy
              </Link>
            </li>
            <li class="nav-footer-menu-items">
              <Link
                id="link-footer-terms-and-conditions"
                class="col"
                to="/User Terms & Conditions"
              > User Terms & Conditions
              </Link>
            </li>
          </ul>
        </div>
      </v-flex>
      <v-flex
        xs3
        layout
        column
      >
        <div class="nav-footer-grid-address">
          <Link
            id="link-footer-contact"
            class="col"
            to="/Contact"
          > Contact
          </Link>
          <p> Level 7
            <br /> 163 Eastern Road
            <br /> South Melbourne 3205
            <br /> Australia
          </p>
        </div>
      </v-flex>
      <v-flex
        xs3
        layout
        column
      >
        <div class="nav-footer-grid-contact">
          <Link
            id="link-footer-find-us"
            class="color"
            to="/Contact"
          > Find Us
          </Link>
          <p> Email Us
            <br /> AUS –
            <a
              id="link-phone-au"
              href="tel:1300 995 095"
            >1300 995 095</a>
            <br /> NZ –
            <a
              id="link-phone-nz"
              href="tel:09 282 1157"
            >09 282 1157</a>
            <br /> INT –
            <a
              id="link-phone-international"
              href="tel:+61 1300 995 095"
            >
              +61 1300 995 095
            </a>
          </p>
        </div>
      </v-flex>
      <v-flex
        xs3
        layout
        column
      >
        <div class="nav-footer-grid-social">
          <h3 class="nav-footer-title">FIND US</h3>
          <ul class="nav social-nav">
            <li class="nav-footer-menu-items">
              <a
                id="link-linkedin"
                class="nav-link active"
                href="https://www.linkedin.com/company/ipro-net/"
                rel="nofollow"
                target="_blank"
              >
                <i class="fab fa-linkedin fa-2x"></i>
                <span class="sr-only">https://www.linkedin.com/company/ipro-net/</span>
              </a>
            </li>
            <li class="nav-footer-menu-items">
              <a
                id="link-twitter"
                class="nav-link active"
                href="https://twitter.com/ipro_net"
                rel="nofollow"
                target="_blank"
              >
                <i class="fab fa-twitter-square fa-2x"></i>
                <span class="sr-only">https://twitter.com/ipro_net</span>
              </a>
            </li>
            <li class="nav-footer-menu-items">
              <a
                id="link-facebook"
                class="nav-link active"
                href="https://www.facebook.com/IPRObyXperior/"
                rel="nofollow"
                target="_blank"
              >
                <i class="fab fa-facebook-square fa-2x"></i>
                <span class="sr-only">https://www.facebook.com/IPRObyXperior/</span>
              </a>
            </li>
          </ul>
        </div>
      </v-flex>
      <v-flex
        xs3
        layout
        column
      >
        <div class="nav-footer-grid-item nav-footer-copyright">
          <p>
            © 2017. “iPRO”, “iPRO Live”, “Science of Compliance” and “Compliance DNA” are trademarks
            or registered trademarks of Xperior Group.
          </p>
        </div>
      </v-flex>
    </v-layout>
  </v-card>
</v-footer>
