.nav-footer {
  background-color: #0d0e21;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  transform: translateY(0);
  width: 100%;
}

.nav-footer-copyright {
  margin-top: 25px;
}

.nav-footer-grid-logo {
  background: url("../../../../static/img/ipro-logo-white.svg") no-repeat 0;
  background-size: contain;
  display: inline-block;
  font-size: 1.40625rem;
  height: 38px;
  line-height: inherit;
  margin-right: 20px;
  margin-top: 30px;
  padding-bottom: auto-2.109375rem/2;
  padding-top: auto-2.109375rem/2;
  white-space: nowrap;
  width: 104px;
}

.nav-footer-menu-items {
  display: list-item;
  list-style-type: none;
  text-align: -webkit-match-parent;
}

.nav-footer-grid-item
.nav-footer-grid-address
.nav-footer-grid-contact
.nav-footer-grid-social {
  margin-top:10px;
}

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
