.contractor-button {
  border-width: 2px !important;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  letter-spacing: 0.6px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 180px;
}

.contractor-container {
  background-color: #0d0e21;
  color: #fff;
  height: 200px;
}
