<div class="contractor-container">
  <v-container fill-height>
    <v-layout
      align-center
      row
      wrap
    >
      <v-flex>
        <h1 class="text-sm-left">Contractors</h1>
        <br />
        <v-btn
          id="btn-health-care"
          class="contractor-button"
          round
          outline
          color="primary"
          :to="categoryLink('Health Care')"
        >
          Health Care
        </v-btn>
        <v-btn
          id="btn-retail"
          class="contractor-button"
          round
          outline
          color="primary"
          :to="categoryLink('Retail')"
        >
          Retail
        </v-btn>
        <v-btn
          id="btn-logistics"
          class="contractor-button"
          round
          outline
          color="primary"
          :to="categoryLink('Logistics')"
        >
          Logistics
        </v-btn>
        <v-btn
          id="btn-engineering"
          class="contractor-button"
          round
          outline
          color="primary"
          :to="categoryLink('Engineering')"
        >
          Engineering
        </v-btn>
        <v-btn
          id="btn-real-estate"
          class="contractor-button"
          round
          outline
          color="primary"
          :to="categoryLink('Real Estate')"
        >
          Real Estate
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</div>
