.card-logo {
  border: 1px white solid;
  border-radius: 3px;
  box-sizing: border-box;
  float: left;
  margin: 3%;
}

.card-image-container {
  border: 1px white solid;
  border-radius: 4px;
  float: left;
  height: 20%;
  left: 2px;
  margin-left: 6%;
  margin-right: 6%;
  position: relative;
  width: 20%;
}

.card-image {
  height: 100%;
  width: 100%;
}

.card-image-container-bottom {
  border: 1px white solid;
  color: white;
  float: left;
  height: 20%;
  left: 4%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: -5%;
  position: relative;
  width: 30%;
}
