<div class="light">
  <v-container fill-height>
    <v-layout
      align-center
      row
      wrap
    >
      <v-flex>
        <h1 class="text-sm-left">Clients</h1>
        <div class='card-logo'>
          <div class="card-image-container">
            <img
              class='card-image'
              src="@/../static/img/client_estia_health.png"
              alt="Client Image"
            />
          </div>
          <div class="card-image-container">
            <img
              class='card-image'
              src="@/../static/img/client_harvey_norman.png"
              alt="Client Image"
            />
          </div>
          <div class="card-image-container">
            <img
              class='card-image'
              src="@/../static/img/client_meinhardt.png"
              alt="Client Image"
            />
          </div>
          <div class="card-image-container-bottom">
            <img
              class="card-image"
              src="@/../static/img/client_monash_health.png"
              alt="Client Image"
              />
          </div>
          <div class="card-image-container-bottom">
            <img
              class='card-image'
              src="@/../static/img/client_vha.png"
              alt="Client Image"
            />
          </div>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</div>
