body {
  color: #2c3e50;
  font-family: Calibre, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0;
  text-align: center;
}

@font-face {
  font-family: Calibre;
  font-style: normal;
  font-weight: 300;
  src: url(../../assets/fonts/Calibre-Light.woff) format("woff"), url(../../assets/fonts/Calibre-Light.woff2) format("woff2");
}

@font-face {
  font-family: Calibre;
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/Calibre-Regular.woff) format("woff"), url(../../assets/fonts/Calibre-Regular.woff2) format("woff2");
}

@font-face {
  font-family: Calibre;
  font-style: normal;
  font-weight: 600;
  src: url(../../assets/fonts/Calibre-Semibold.woff) format("woff"), url(../../assets/fonts/Calibre-Semibold.woff2) format("woff2");
}

@font-face {
  font-family: Copernicus;
  font-style: italic;
  font-weight: 500;
  src: url(../../assets/fonts/Copernicus-MediumItalic.woff) format("woff"), url(../../assets/fonts/Copernicus-MediumItalic.woff2) format("woff2");
}
