<div id='ContractorCard'>
  <div v-bind:class="classObjects()">
    <router-link
      name="profilePage"
      :to="profileLink(dataModel)"
    >
      <div class='img-container'>
        <img
          class='company-logo'
          alt="Company Logo"
          :src= 'dataModel.display_logo'
          :onerror="defaultLogoImg"/>
      </div>
      <div class='card-detail'>
        <div class='company-name'>
          <h1>{{ dataModel.trading_name }}</h1>
        </div>
        <div class='company-detail'>
          <div class='company-location'>
            <h4 v-for="(location, i) in dataModel.location">
              {{ location.site }} {{ location.state}} {{ location.suburb }} {{ location.precinct
              }} {{ location.property }}
            </h4>
          </div>
          <div
            class='company-category'
            v-for="(category, i) in dataModel.service_category"
            v-if="i<2"
          >
            {{ category.category}}&nbsp
          </div>
          <br/>
          <div
            class='company-industry'
            v-for="(industry, i) in dataModel.industry"
            v-if="i<2"
          >
            {{ industry.industry }}&nbsp
          </div>
        </div>
        <Badge
          id="badge-membership"
          :membership='dataModel.membership'
        />
      </div>
    </router-link>
  </div>
</div>
