.card-gold,
.card-silver,
.card-bronze {
  border: 1px black solid;
  border-radius: 3px;
  box-sizing: border-box;
  float: left;
  margin: 3%;
  width: 80%;
}

.card {
  background-color: white;
  border: 1px black solid;
  border-radius: 3px;
  box-sizing: border-box;
  float: left;
  margin: 3%;
  width: 80%;
}

.card-gold {
  background-color: #fffbc2;
}

.card-silver {
  background-color: #eee;
}

.card-bronze {
  background-color: #ffefd7;
}

.img-container {
  background: white;
  border: 1px black solid;
  color: white;
  float: left;
  height: 0;
  left: 2px;
  margin: 1%;
  padding-bottom: 20%;
  position: relative;
  width: 20%;
}

.company-logo {
  max-width: 100%;
}

.card-detail {
  color: black;
  float: left;
  font-size: 1.5vw;
  height: 0;
  left: 5px;
  margin-left: 3%;
  margin-top: 1%;
  opacity: 0.8;
  padding-bottom: 21%;
  position: relative;
  text-align: left;
  width: 70%;
}

.company-name {
  height: 0;
  padding-bottom: 10%;
  position: relative;
  width: 100%;
}

.company-detail {
  float: left;
  height: 0;
  padding-bottom: 18%;
  position: relative;
  width: 79%;
}

.company-location {
  height: 0;
  padding-bottom: 11%;
  width: 100%;
}

.company-category {
  float: left;
  height: 6%;
  padding-bottom: 4%;
}

.company-industry {
  float: left;
  height: 6%;
  padding-bottom: 4%;
}

