.resultpage-container {
  height: auto !important;
  min-height: 100%;
  position: relative;
}

.resultpage-search {
  float: left;
  margin-left: 12.5%;
}

.filter-result-container {
  float: right;
  margin-left: -270px;
  width: 100%;
}

.result-container {
  margin-left: 280px;
  min-width: 770px;
  position: absolute;
  zoom: 1;
}

.left-filter {
  float: left;
  padding-top: 5%;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.light {
  color: #0d0e21;
  float: left;
  position: relative;
  width: 85%;
}

.right-result {
  background-color: #fff;
  padding-top: 5%;
  width: 85%;
  zoom: 0.7;
}

.gray {
  background-color: #6c757d;
  color: #fff;
  height: 100px;
}

.search {
  background-color: #343a40;
  color: #fff;
}

.dark {
  background-color: #0d0e21;
  color: #fff;
}
