<div class=resultpage-container>
  <div
    id="search"
    class="gray"
  >
    <br />
    <div class="resultpage-search">
      <Search/>
    </div>
  </div>
  <div
    id="resultContainer"
    class="filter-result-container"
  >
    <div
      id="filters"
      class="left-filter"
    >
      <ul>
        <FilterLink :node="filterNode" />
      </ul>
    </div>
    <div
      id="results"
      class="light result-container"
    >
      <div class="right-result">
        <h1>Found 666 results</h1>
        <ContractorCardList :input="getInput()" />
      </div>
    </div>
  </div>
</div>
