<nav>
  <v-toolbar
    class="nav-header toolbar toolbar--fixed theme--dark"
    data-booted="true"
  >
    <a
      class="navbar-brand"
      href="/"
    >
      <span class="sr-header">ipro</span>
    </a>
    <v-spacer />
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn
        id="btn-contractor-signup"
        class="nav-text"
        flat
        href="/becontractor"
      >BECOME A CONTRACTOR</v-btn>
    </v-toolbar-items>
    <div class="hidden-sm-and-down">

      <v-btn
        id="btn-signup"
        class="nav-button button-signup"
        color="primary"
        href="/signup"
        round
      >
        Sign up
      </v-btn>

      <v-btn
        id="btn-login"
        class="nav-button"
        color="primary"
        href="/login"
        round
        outline
      >
        Login
      </v-btn>


    </div>
    <v-toolbar-items class="hidden-md-and-up">
      <v-menu offset-y>
        <v-toolbar-side-icon slot="activator" />
        <v-list dark>
          <v-list-tile>
            <v-list-tile-title>BECOME A CONTRACTOR</v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-title color="primary">Sign up</v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-title color="primary">Login</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar-items>
  </v-toolbar>
</nav>
