.nav-header {
  background-color: #0d0e21;
  margin-top: 0;
  padding-left: 300px;
  padding-right: 0;
  transform: translateY(0);
}

.navbar-brand {
  background: url("../../../../static/img/ipro-logo-white.svg") no-repeat 0;
  background-size: contain;
  display: inline-block;
  font-size: 1.40625rem;
  height: 38px;
  line-height: inherit;
  margin-right: 30px;
  padding-bottom: auto-2.109375rem/2;
  padding-top: auto-2.109375rem/2;
  white-space: nowrap;
  width: 104px;
}

.nav-button {
  border-width: 2px !important;
  font-size: 12px;
  font-weight: 700;
  height: 36px;
  letter-spacing: 0.6px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  width: 140px;
}

.button-signup {
  color: #0d0e21 !important;
}

.nav-text {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0 16px;
  padding: 3px 0 0;
}

.sr-header {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
