<li class="filter-link">
  <a href="#">{{ displayName() }}</a>
  <ul>
    <div v-if="node">
      <FilterLink
        v-for="child in node.children"
        :key="child.name"
        :node="child"
      />
    </div>
  </ul>
</li>
