<div>
  <h1 v-if="styleObject.h1">
    <slot />
  </h1>
  <h2 v-else-if="styleObject.h2">
    <slot />
  </h2>
  <h3 v-else-if="styleObject.h3">
    <slot />
  </h3>
  <h4 v-else-if="styleObject.h4">
    <slot />
  </h4>
  <h5 v-else-if="styleObject.h5">
    <slot />
  </h5>
  <h6 v-else-if="styleObject.h6">
    <slot />
  </h6>
  <p v-else-if="styleObject.p">
    <slot />
  </p>
</div>
