<div>
  <div class="topProposition">
    <CoreText h1>More than 1 Million Contractors</CoreText>
  </div>
  <div class="nextProposition">
    <CoreText h3>iPro connect empowers businesses to build safe, compliant and trusted
      partnerships.
    </CoreText>
  </div>
</div>