<div class="home-container">
  <div class="home-list-container">
    <div
      id="search"
      class="search"
    >
      <br />
      <br />
      <br />
      <br />
      <ValueProposition />
      <br />
      <br />
      <Search />
    </div>
    <Contractors />
    <Clients />
  </div>
</div>
