.home-container {
  height: auto !important;
  min-height: 100%;
  position: relative;
}

.home-list-container {
  position: relative;
  zoom: 1;
}

.light {
  background-color: #fff;
  color: #0d0e21;
}

.gray {
  background-color: #6c757d;
  color: #fff;
}

.search {
  background-color: #343a40;
  background-image: url('https://www.ipro.net/app/uploads/2018/02/bg-promo-1-p.jpg');
  background-position: center;
  color: #fff;
  height: 500px;
}

.dark {
  background-color: #0d0e21;
  color: #fff;
}
