<div id='ContractorProfileCard'>
  <div v-bind:class="classObjects()">
    <div class='profile-img-container'>
      <img
        class='profile-company-logo'
        alt="Company logo"
        :src='dataModel.display_logo'
        :onerror="defaultLogoImg"/>
    </div>
    <div class='profile-card-detail'>
      <div class='profile-company-name'>
        <h1>{{ dataModel.trading_name }}</h1>
        <p
          v-if='dataModel.industry'
          v-for="(industry, i) in dataModel.industry"
        >
          Experienced in {{ industry.industry }}
        </p>
      </div>
      <div class='profile-company-detail'>
        <Badge
          id="profile-badge-membership"
          :membership='dataModel["membership"]'
        />
        <div class='profile-button-container'>
          <CoreButton>
            Join to Invite
          </CoreButton>
        </div>
      </div>
    </div>
  </div>
</div>
