.profile-card-detail {
  color: black;
  float: left;
  font-size: 1.5vw;
  height: 0;
  left: 5px;
  margin-left: 3%;
  margin-top: 1%;
  opacity: 0.8;
  position: relative;
  text-align: left;
  width: 75%;
}

.profile-company-detail {
  float: left;
  height: 0;
  padding-bottom: 18%;
  position: relative;
  width: 100%;
}

#profile-company-detail-left {
  display: inline-block;
  height: 0;
  padding-bottom: 10%;
  width: 40%;
}

#profile-company-detail-right {
  display: inline-block;
  height: 0;
  padding-bottom: 10%;
  width: 40%;
}

#profile-badge-membership {
  float: right;
  padding-right: 5%;
  position: relative;
}

.profile-company-logo {
  max-width: 100%;
}

.profile-company-name {
  float: left;
  height: 0;
  padding-bottom: 10%;
  position: relative;
  width: 100%;
}

.profile-detail-gold-card,
.profile-detail-silver-card,
.profile-detail-bronze-card,
.profile-detail-card {
  border: 1px black solid;
  border-radius: 3px;
  box-sizing: border-box;
  left: 7%;
  margin: 3%;
  position: absolute;
  width: 80%;
}

.profile-detail-card {
  background-color: white;
}

.profile-detail-gold-card {
  background-color: #fffbc2;
}

.profile-detail-silver-card {
  background-color: #eee;
}

.profile-detail-bronze-card {
  background-color: #ffefd7;
}

.profile-img-container {
  background: white;
  border: 1px black solid;
  color: white;
  float: left;
  height: 0;
  margin: 1%;
  padding-bottom: 20%;
  position: relative;
  width: 20%;
}

.profile-button-container {
  bottom: 8%;
  left: 0;
  position: absolute;
}

p.small {
  font-size: 0.825em;
}

.profile-button {
  background-color: #1b967f;
}
